In [2]:
import numpy as np

In [4]:
import pandas as pd

In [5]:
data=pd.read_csv("data.csv")

In [6]:
data

     sky air temp humidity    wind water forecast enjoy sport
0  sunny     warm   normal  strong  warm     same         yes
1  sunny     warm     high  strong  warm     same         yes
2  rainy     cold     high  strong  warm   change          no
3  sunny     warm     high  strong  cool   change         yes

In [7]:
print(data)

     sky air temp humidity    wind water forecast enjoy sport
0  sunny     warm   normal  strong  warm     same         yes
1  sunny     warm     high  strong  warm     same         yes
2  rainy     cold     high  strong  warm   change          no
3  sunny     warm     high  strong  cool   change         yes

In [8]:
input1=np.array(data)

In [9]:
input1

array([['sunny', 'warm', 'normal', 'strong', 'warm', 'same', 'yes'],
       ['sunny', 'warm', 'high', 'strong', 'warm', 'same', 'yes'],
       ['rainy', 'cold', 'high', 'strong', 'warm', 'change', 'no'],
       ['sunny', 'warm', 'high', 'strong', 'cool', 'change', 'yes']],
      dtype=object)

In [10]:
input2=np.array(data)[:,:-1]

In [11]:
input2

array([['sunny', 'warm', 'normal', 'strong', 'warm', 'same'],
       ['sunny', 'warm', 'high', 'strong', 'warm', 'same'],
       ['rainy', 'cold', 'high', 'strong', 'warm', 'change'],
       ['sunny', 'warm', 'high', 'strong', 'cool', 'change']],
      dtype=object)

In [12]:
output1=np.array(data)[:,-1]

In [13]:
output1

array(['yes', 'yes', 'no', 'yes'], dtype=object)

In [16]:
import math
print(math.sqrt(10))

3.1622776601683795

In [17]:
data[0]

KeyError: 0

In [18]:
input1[0]

array(['sunny', 'warm', 'normal', 'strong', 'warm', 'same', 'yes'],
      dtype=object)

In [19]:
input1=np.array(data)[:-1,:-1]

In [20]:
input1

array([['sunny', 'warm', 'normal', 'strong', 'warm', 'same'],
       ['sunny', 'warm', 'high', 'strong', 'warm', 'same'],
       ['rainy', 'cold', 'high', 'strong', 'warm', 'change']],
      dtype=object)

In [ ]:
input1=np.array(data)

# kaggle

In [22]:
kaggle=pd.read_csv("social media stocks 2012-2022.csv")

In [23]:
kaggle

,Date,Symbol,Adj Close,Close,High,Low,Open,Volume
0,2012-05-18,FB,38.230000,38.230000,45.000000,38.000000,42.049999,573576400.0
1,2012-05-21,FB,34.029999,34.029999,36.660000,33.000000,36.529999,168192700.0
2,2012-05-22,FB,31.000000,31.000000,33.590000,30.940001,32.610001,101786600.0
3,2012-05-23,FB,32.000000,32.000000,32.500000,31.360001,31.370001,73600000.0
4,2012-05-24,FB,33.029999,33.029999,33.209999,31.770000,32.950001,50237200.0
...,...,...,...,...,...,...,...,...
8393,2022-04-06,FB,223.300003,223.300003,228.990005,221.410004,226.910004,28969100.0
8394,2022-04-06,TWTR,50.770000,50.770000,52.869999,49.299999,50.040001,158865600.0
8395,2022-04-06,PINS,24.440001,24.440001,25.559999,23.870001,25.559999,12274200.0
8396,2022-04-06,SNAP,36.470001,36.470001,37.740002,35.639999,37.369999,21549700.0
8397,2022-04-06,ETSY,125.470001,125.470001,128.229996,121.389999,128.179993,3521700.0

In [24]:
arr=np.array(kaggle)

In [25]:
arr

array([['2012-05-18', 'FB', 38.22999954223633, ..., 38.0,
        42.04999923706055, 573576400.0],
       ['2012-05-21', 'FB', 34.029998779296875, ..., 33.0,
        36.52999877929688, 168192700.0],
       ['2012-05-22', 'FB', 31.0, ..., 30.940000534057617,
        32.61000061035156, 101786600.0],
       ...,
       ['2022-04-06', 'PINS', 24.440000534057617, ..., 23.8700008392334,
        25.559999465942383, 12274200.0],
       ['2022-04-06', 'SNAP', 36.470001220703125, ..., 35.63999938964844,
        37.369998931884766, 21549700.0],
       ['2022-04-06', 'ETSY', 125.47000122070312, ...,
        121.38999938964844, 128.17999267578125, 3521700.0]], dtype=object)

In [26]:
arr.shape

(8398, 8)

In [27]:
arr.size

67184